@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300;700&family=Press+Start+2P&display=swap");


@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');





* {
  margin: 0;
  box-sizing: border-box; 
}
body {
  font-family: 'Play', sans-serif;
background-image: url("img/battle.jpg"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover ; 
  background-color: #1e1e2f; /* Dark blue base */
  color: #e0e0e0; /* Soft white for text */
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


.hidden {
  display: none;
  opacity: 0;  /* Transition to invisible when hidden */
}


/* Header styling for centered title */
header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2.5rem;
  font-family: 'Press Start 2P', cursive; /* Pixelated font for headers */
  color: #9b51e0; /* Soft purple for a gaming vibe */
}


/* Main content area styling */
.main-content {
  min-width: 400px;
  width: 95%;
  max-width: 1250px;
  background: rgba(41, 41, 78, 0.3); /* Darker blue-purple with transparency */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* More prominent shadow for depth */
  backdrop-filter: blur(10px); /* Blur effect for glassmorphism */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}

@media (max-width: 800px) {
  .main-content {
    padding: 10px; /* Less padding on smaller screens */
  }
}

@media (max-width: 600px) {
  .main-content {
    padding: 5px; /* Minimal padding on very small screens */
  }
}


/* Styling for dropdowns and button */
.selectDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


/*button*/

select, button {
  font-size: 1.2rem;
  padding: 10px;
  margin-top: 10px;
  width: 100%; /* Takes full width of the container */
  border: 2px solid #3e3e5e; /* Darker border for contrast */
  background: rgba(41, 41, 78, 0.8); /* Darker blue-purple with transparency */
  color: #fff; /* White text */
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}

select {
  font-family: 'Play', cursive;
  font-size: 20px;

}

button {
  font-family: 'Press Start 2P', cursive;
  background-color: rgba(109, 40, 217, 0.6); /* Deep purple with transparency */
  color: #fff; /* White text */
  border: 1px solid rgba(255, 255, 255, 0.25); /* Light white border for slight contrast */
  border-radius: 4px;
  padding: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  backdrop-filter: blur(10px); /* The key to the glass effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

button:hover {
  background-color: rgba(124, 77, 255, 0.7); /* Brighter purple on hover */
  transform: scale(1.05); /* Slightly enlarges the button on hover */
}





.pokemonDiv {
  display: flex;          /* Establishes this container as a flex container */
  justify-content: center; /* Centers the children horizontally */
  align-items: start;     /* Aligns items to the start of the flex container */
  gap: 20px;              /* Optional: adds space between the two child divs */
}

.pokemonOne-container, .pokemonTwo-container {
  flex: 1;                /* Each child will take up an equal amount of space */
  min-width: 0;           /* Helps with overflow and sizing issues */
}


.pokemonOne-container {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;


}

.pokemonTwo-container {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  

  }


  .pokemon-card {  
    background-color: #2a2a40; /* Same as select and button backgrounds */
    display: flex;
    justify-content: center; 
    align-items: center;  
    flex-direction: column; 
    width: 360px;
    height: 750px;
    border-radius: 20px;
    padding: 15px;        
  
}




.sprite-container {
  background-color: rgb(255, 255, 255);
  width: fit-content;
  border-radius: 50%;
  position: relative;
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 50px rgba(255, 255, 255, 0.85);
}
img {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}






/*Description container*/

.description-container {
  background-color: white;
  color: #1e1e2f;
  min-width: 300px;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.name {
  font-size: 40px;
  margin-bottom: 10px;
}
.type-container {

  margin-bottom: 25px;
}


.type {
  background-color: var(--typeColor); /* set via JavaScript */
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  margin: 0px 5px;
  backdrop-filter: blur(4px); /* optional: if you want extra blurring inside the elements */
}


.text {
  line-height: 22px;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 20px;
  font-size: 22px;
}
/*Stats container*/
.stats-container {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 10px;
  width: 100%; 
  padding: 10px; 
}



.comparisonResult table {

  border-collapse: collapse;
  margin: 20px 0;
  overflow: hidden;
}

/* Summary paragraph styling */
.comparisonResult p {
  text-align: center;
  font-size: 24px;
  color: #f4f4f4;
  padding: 10px;
  border-radius: 8px;
  margin: 10px 0 0 0;
}



.comparisonResult th, .comparisonResult td {
    padding: 8px;
    text-align: center;
}

.comparisonResult th {
     background-color: rgba(255, 255, 255, 0.1); 
}

.winner {
  font-weight: bold;
  color: #7AC74C;
}


.comparisonResult p, #battleLog div {
  font-size: 24px;
  text-shadow: 1px 1px 0px #000; /* Sharp text shadow for readability */
  margin: 10px 0;
}


.comparisonResult, #battleLog {
  max-width: 400px;  /* Adjust this value based on your design needs */
  margin: auto;      /* Center align within their container */
}

/* Existing Styles */
.battle-log {

  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  font-size: 18px;
  border-radius: 10px;

}

.battle-log p {
  margin-bottom: 15px; /* Increase space between each paragraph/update */
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.05); /* Optional: adds a subtle background to each update for better readability */
  border-radius: 8px; /* Optional: rounds the corners of the update backgrounds */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: adds a soft shadow for depth */
}

/* New Styles for Winner Announcement */
.battle-log strong {
  color: #9b51e0; /* Deep purple color */
  font-size: 2.5rem; /* Larger font size for emphasis */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Soft shadow for better readability */
  display: block; /* Block display to center text */
  text-align: center; /* Center alignment */
  margin: 20px 0; /* Space above and below */
  animation: popEffect 0.5s ease-out; /* Animation for pop effect */
}

/* Keyframes for pop effect */
@keyframes popEffect {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}





@media (max-width: 800px) {  /* Adjusts layout for screens narrower than 800px */
  .pokemonDiv {
      flex-direction: column;
      align-items: center;
  }
}


@media (max-width: 600px) {
  .description-container,
  .text.dex-entry {
      min-width: 80%; /* Full width on smaller screens */
  }
}
